@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-green: theme('colors.green');
  --color-litegreen: theme('colors.litegreen');
  --color-blue: theme('colors.blue');
}

li {
  list-style: none;
}
